<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <link rel="shortcut icon" href="icon.ico" type="image/x-icon"/>
    <script src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script src="https://code.angularjs.org/1.3.10/angular-messages.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.3.10/angular-animate.js"></script>
    <script src="controller.js"></script>
</head>

<body ng-app="myApp" ng-controller="FlickrController as vm">
	<div id="page" class="container">
		
		<h1>Flickr Searcher</h1>

		<form class="searchform" ng-submit="vm.searchFlickr(vm.searchterm)">
			<input type="text" name="searcher" ng-model="vm.searchterm" required>
			<input type="submit" value="Submit" id="submit" />
		</form>

		<div ng-if="vm.loader==1">Searching Instragram for photos tagged <span id="searchterm"> {{ vm.searchterm }} </span></div>
		<span id="searchterm"> {{ vm.searchterm }} </span>

		<div class="results">
        	<h2 ng-if="vm.loader==2">We found {{ vm.results.length }} results for {{ vm.searchterm }}</h2>
        	<div ng-repeat="result in vm.results" class="content">
          		<img class="images" ng-src="{{ vm.trustSrc('https://farm' + result.farm + '.staticflickr.com/' + result.server + '/' + result.id + '_' + result.secret + '.jpg') }}" width="340" height="330"></img>
        	</div>
      	</div>

      	<!--not sure how I would fill out the pattern across the page in a grid-->

	</div>
</body>

</html>